<!DOCTYPE html>

<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <title>10xers</title>
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker|Montserrat' rel='stylesheet' type='text/css' />
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' ></script>

  </head>
  
  <body>

    <div id="topper" class="justifier">
      <h1><span class="yellow">10x</span>ers</h1>
      <h2>The guild of badass coders</h2>
      
      <div id="buttons">
	<span class="button">articles</span>
	<span class="button">code</span>
	<span class="button">contact</span>
      </div>
      
      <div id="skyline-dark" class="hidden-sm hidden-xs"></div>
      <div id="skyline-white" class="hidden-sm hidden-xs"></div>
      
    </div>

    <div id="main-content" class="justifier">
      <h3>About</h3>
      <p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
	exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
	irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
	nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
	qui officia deserunt mollit anim id est laborum
      </p>
    </div>
    
  </body>
  
</html>
