<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8" />
    <title>10xers</title>
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker|Montserrat' rel='stylesheet' type='text/css' />
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' ></script>
    <link th:href="@{/styles/main.css}" rel='stylesheet' type='text/css' href="/styles/main.css" />
  </head>
  
  <body>

    <div id="topper" class="justifier">
      <h1><span class="yellow">10x</span>ers</h1>
      <h2>The guild of badass coders</h2>
      
      <div id="buttons">
	<span class="button">articles</span>
	<span class="button">code</span>
	<span class="button">contact</span>
      </div>
      
      <div id="skyline-dark" class="hidden-sm hidden-xs"></div>
      <div id="skyline-white" class="hidden-sm hidden-xs"></div>
      
    </div>

    <div id="main-content" class="justifier">
      <h3>About</h3>
      <p>
        Through deliberate practice, attention to tooling and asking the right questions we believe we become better developers.
      </p>
      <p>
        We have created 10xers as a place to showcase our journey towards the asymptote of “10x software developers”, and to share the successes and failures we have along the way.
      </p>
    </div>
    
  </body>
  
</html>
