html,body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

h1,h2,h3 {
    font-family: 'Permanent Marker', cursive;
    margin: 0px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

h3 {
    color: #3f374e;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 60px;
}

.justifier {
    width: 100;
    text-align: center;
}

#topper {
    padding-top: 7%;
    padding-bottom: 15%;
    width: 100%;
    background-color: #3f374e;
    color: white;
    position: relative;
}

.yellow {
    color: #f2cb54;
}

#topper > #buttons > .button {
    font-size: 1.3em;
    background-color: #6a5e80;
    margin-left: 25px;
    margin-right: 25px;
    min-width: 100px;
}

#main-content .button {
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    padding: 12px;
    border-radius: 40px;
    background-color: #3f374e;
    min-width: 185px;
    display: inline-block;
    color: white;
    z-index: 1;
    position: relative;
}

.button:hover {
    background-color: #B1A7C3;
}

#main-content .button a {
    color: white;
}

#main-content .button i {
    color: white;
    vertical-align: middle;
    font-size: 2em;
    margin-right: 3px;
}

#skyline-white {
    background-image: url("/img/skyline-white.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 250px;
    bottom: 0px;
    position: absolute;
    background-position: 0px -1px;
}

#skyline-dark {
    background-image: url("/img/skyline-dark.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 250px;
    bottom: 0px;
    position: absolute;
    opacity: 0.3;
    background-position: 0px -1px;
}

#main-content > p {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.gh-image {
    margin-left: 5px;
    margin-right: 5px;
}

#article-text {
    white-space: pre;
    text-align: left;
}

/* bootstrap fudges **/

.panel-heading,.panel-body,.panel {
    border: 0px white;
    background-color: white !important; /* forgive me */
    word-wrap: break-word;
}

