html,body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3 {
    font-family: 'Permanent Marker', cursive;
    margin: 0px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
      margin-bottom: 20px;
}

h3 {
    color: #3f374e;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.justifier {
    width: 100;
    text-align: center;
}

#topper {
    padding-top: 7%;
    padding-bottom: 15%;
    width: 100%;
    background-color: #3f374e;
    color: white;
    position: relative;
}

.yellow {
    color: #f2cb54;
}

#topper > #buttons > .button {
    border-radius: 30px;
    font-size: 1.3em;
    background-color: #6a5e80;
    display: inline-block;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    min-width: 100px;
    position: relative;
    z-index: 1;
}

#skyline-white {
    background-image: url("/img/skyline-white.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 250px;
    bottom: 0px;
    position: absolute;
}

#skyline-dark {
    background-image: url("/img/skyline-dark.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 250px;
    bottom: 0px;
    position: absolute;
    opacity: 0.3;
}

#main-content > p {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#article-text {
    white-space: pre;
    text-align: left;
}

/* bootstrap fudges **/

.panel-heading,.panel-body,.panel {
    border: 0px white;
}
